a:not(.button) {
  color: #3273dc;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1) !important;
}

a:not(.button):hover {
  color: #000;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3) !important;
}

.main-title {
  font-size: 50px !important;
}

.miscord-icon {
  width: 200px;
  margin-bottom: 30px;
}

.miscord-screenshot {
  padding-top: 30px;
}

.screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.feature-item {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.feature-title {
  padding-bottom: 0px !important;
}

.more-features {
  margin-bottom: 40px;
}

.main-screenshot {
  max-width: 60%;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.5);
}

#read-more {
  display: inline-block;
  font-size: 12px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .main-screenshot {
    width: 100%;
  }

  .screenshot {
    height: 300px;
  }
}

.screenshot-small {
  /* border-radius: 10px; */
  -webkit-filter: drop-shadow(2px 2px 5px #000);
  filter: drop-shadow(2px 2px 5px #000);
}
